@import '../../colors.scss';

.search-box {
  width: min-content;
  position: relative;
  margin-right: 100px;
  
  input {
    border-radius: 100px;
    width: 695px;
    height: 48px;
    background-color: $pale-white;
    border-color: transparent;
    outline: none;
    padding-left: 20px;
    font-size: 15px;

    &::placeholder{
      color: $text-lighter;
    }
  }

  span {
    position: absolute;
    top: 15px;
    right: 27px;
    cursor: pointer;
  }
}