@import '../../colors.scss';

nav {
  background-color: $brand-primary-regular;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  padding: 0 100px;

  .logo {
    width: 250px;
  }
}