$brand-accent-light: #146eeb;
$brand-accent-regular: #125fca;
$brand-primary-light: #ff711a;
$brand-primary-regular: #fb6100;
$brand-primary-dark: #e65800;
$text-regular: #0a3847;
$text-light: #666;
$text-lighter: #999;
$text-lightest: #d7d7d7;