@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto&display=swap');
@import './colors.scss';

//General Settings
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  background-color: #E5E5E5;
}

@mixin btn-primary($width, $height) {
  width: $width;
  height: $height;
  border: none;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  background-color: $brand-primary-regular;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $brand-primary-dark;
  }
}

@mixin btn-secondary($width, $height, $color) {
  width: $width;
  height: $height;
  border: 1px solid;
  border-color: $color;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  background-color: transparent;
  color: $color;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

@mixin btn-circle($color) {
  @include btn-primary(25px, 25px);
  border: 1px solid $color;
  border-radius: 50%;
  color: $color;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

@mixin custom-scrollbar($color) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: $color; 
    border-radius: 10px;
  }
}